node_modules
.env
.DS_Store

rental_system/node_modules
rental_system/.env
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337


# Hardhat files
rental_system/cache
rental_system/artifacts

# TypeChain files
rental_system/typechain
rental_system/typechain-types

# solidity-coverage files
rental_system/coverage
rental_system/coverage.json

# Hardhat Ignition default folder for deployments against a local node
rental_system/ignition/deployments/chain-31337

