node_modules
.env


draft_rental_system/node_modules
draft_rental_system/.env
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337


# Hardhat files
draft_rental_system/cache
draft_rental_system/artifacts

# TypeChain files
draft_rental_system/typechain
draft_rental_system/typechain-types

# solidity-coverage files
draft_rental_system/coverage
draft_rental_system/coverage.json

# Hardhat Ignition default folder for deployments against a local node
draft_rental_system/ignition/deployments/chain-31337

